apiVersion: v1
kind: Service
metadata:
  name: inventory-service
spec:
  selector:
    app: inventory-service
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      nodePort: 30081
  type: NodePort