apiVersion: v1
kind: Service
metadata:
  name: shipping-service
spec:
  selector:
    app: shipping-service
  ports:
    - port: 8083
      targetPort: 8083
      protocol: TCP
      nodePort: 30083
  type: NodePort